*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
    font-family: 'Roboto Light';
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url("../images/sitebg.jpg")  fixed;
    background-size: cover;
}

a{
    text-decoration: blue;
    color: #eeeeee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
}

header{
    width: 100%;
    height: 100vh;

}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);

}
.top-nav.close{
    top: -100vh;
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: Pristina;
    font-size: 5rem;
    padding: 1rem;
}
.nav-link:hover,
.nav-link:focus
{
    background: linear-gradient(to top, pink, blue);
    -webkit-backdrop-clip: text;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}


.menu-toggler{
    position:fixed;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}
.menu-toggler.close{
    transform: rotate(+45deg);
}

.bar{
    position: relative;
    background: linear-gradient(to right, pink, blue);
    width: 100%;
    height: 4px;
    border-radius: 8rem;

}


.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.80, 0.57, 0.57);
}

.open.bar.start{
    transform: rotate(-90deg) translateX(.8rem);
}
.open.bar.end{
    transform: rotate(-90deg) translateX(-.8rem);
}
.bar.end{
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.80, 0.57, 0.57);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h1{
    font-family: PMingLiU-ExtB;
    font-size: 10rem;
    background: linear-gradient(to top, hotpink, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.landing-text h4{
    font-family: PMingLiU-ExtB;
    font-size: 3rem;
    font-weight: 300;
    background: linear-gradient(to left, pink, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 6rem;
    opacity: .3;
    margin-bottom: 20px;
}
.profile-img{
    float: left;
    margin-right: 5rem;

}
.about-details{
    flex: 1;
}

.section-heading{
    text-align: center;
}
.section-heading h1{
    font-size: 5.5rem;
    color: rgba(255,255,255, .3);
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.section-heading h6{
    font-size: 1.5rem;
    font-weight: 100;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.section-heading h1:after,
.section-heading h1:before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255, 0.75);
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 13px;
    border-radius: 100%;
    bottom: -1rem;
}

.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid greenyellow;
    background-color: peru;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    transform: rotate(45deg);
    align-items: center;
}

.icon-container i{
    transform: rotate(-45deg);
    color: darkblue;
    font-size: 5rem;
    margin: 0 auto;
}

.container{
    margin-top: 8rem;

}

.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.portfolio a{
    font-size: 3.5rem;
    font-family: "Calibri";
    color: lightskyblue;
    font-style: unset;
    transition: color 650ms;
    text-transform: uppercase;
}

.portfolio a:hover{
    color: cornflowerblue;

}

.container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;

}

.portfolio-img{
    flex:1
}
.portfolio-description{
    flex: 1;
}

.portfolio-description h1{
    font-size: 5rem;
}

.has-margin-right{
    margin-right: 5rem;
}

.portfolio-description h1{
    font-size: 5rem;
    font-weight: 300;
    opacity: 0.3;
    margin: 1rem 0;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: lightblue;
    transition: color 650ms;
}

.portfolio-description .cta:hover{
    color: blue;
}

.contact-info{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.info h1{
    font-size: 4rem;
    font-weight: 300;
    opacity: 0.8;
    font-style: italic;
}

.info h6{
    font-size: 3rem;
    font-weight: 300;
    font-style: inherit;
}

.resume{
    text-align: center;
}

.resume a{
    padding: 3rem;
    font-family: "Franklin Gothic Medium";
    font-size: 2rem;
    border: 1px solid whitesmoke;
    background-color: mediumpurple;
    transition: color 650ms;
    transition: background-color 650ms;
}

.resume a:hover{
color: antiquewhite;
background-color: rebeccapurple;
}

.info a{
    color: lightskyblue;
    transition: color 700ms;
}

.info a:hover{
    color: dodgerblue;
}